<div class="container">
  <h1>Booking</h1>
  <p>
    <strong>Date de début de la réservation :</strong>
    <%= @booking.start_time %>
  </p>
  <p>
    <strong>Date de fin de la réservation :</strong>
    <%= @booking.end_time %>
  </p>
  <p>
    <strong>Appartement :</strong>
    <%= @booking.flat %>
  </p>
  <p>
    <strong
